<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<header>
    <div class="logo"><a href="{{ path('homepage') }}">Go Social</a></div>
    <nav>
        <ul>
            {% if app.user %}
                <li><a href="{{ path('user_profile') }}">{{ app.user.username }}</a></li>
                <li><a href="{{ path('new_post') }}">new post</a></li>
                <li><a href="{{ path('new_story') }}">New Story</a></li>
                <li><a href="{{ path('mailbox') }}">mailbox</a></li>
                <li><a href="{{ path('find_users') }}">find friends</a></li>
                <li><a href="{{ path('logout') }}">logout</a></li>
                {% else %}
                <li><a href="{{ path('register_user') }}">register</a></li>
                <li><a href="{{ path('login') }}">login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}
</body>
</html>
