{% extends 'base.html.twig' %}

{% block body %}
    <section class="top-container">
        <nav class="mail-nav">
            <ul>
                <li id="inbox">Inbox</li>
                <li id="outBox">Outbox</li>
                <li id="newMessage">New Message</li>
            </ul>
        </nav>
        <div class="msg-container">
            <h2 class="msg-heading">Inbox</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>From</th>
                    <th>Email</th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for message in inbox %}
                    <tr {{ message.isRead ? '' : 'style="background-color:lightgreen"' }}>
                        <td>{{ message.sender.username }}</td>
                        <td>{{ message.sender.email }}</td>
                        <td>{{ message.title }}</td>
                        <td>{{ message.sendDate|date }}</td>
                        <td>
                            <button id="read" onclick="readMsg(this, {{ message.id }})">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                            <button id="delete" onclick="deleteMsg(this, {{ message.id }})">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section class="read-section">

    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('msg.js') }}"></script>
{% endblock %}

